*{
    background-color: #888;
    color: #fff;
}

img {
    border-radius: 50%;
    justify-content: center;
    text-align: center;
}


.bemutatas {
    text-align: center;
    margin: auto;
    border: 1px solid;
    width: 50%;
    align-items: center;
    
}